section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section article{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1rem;
    margin: 3rem 0;
    background-color: rgb(254, 254, 254);
    border-radius: .2rem;
    box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .1);
}
section article h2 {
    width: 80%;
    text-align: center;
    margin-bottom: .5rem;
}
section article ul {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
section article ul li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem; 
    padding: .8rem;
    background-color: var(--light-yellow);
    border-radius: .5rem;
    box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: all .3s ease;
}
section article ul li:hover{
    transform: scale(1.02);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
}
section article ul li h3{
    text-transform: uppercase;
}
section article ul li details{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
section article ul li .category{
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}
section article ul li img{
    width: 150px;
    margin-bottom: 1rem;
}
section article ul li i{
    width: 100%;
    font-size: 1.5rem;
    color: var(--grey);
    transition: all .3s ease;
}
section article ul li i:hover{
    color: var(--yellow);
    transform: translateY(-.5rem);
}
section article ul li h3, section article ul li p, section article ul li i{
    margin: .5rem 0;
}