main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
}

main .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
}

.cards a{
    width: 30%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    cursor: pointer;
    background-color: var(--light-yellow);
    transition: all .5s ease;
    text-decoration: none;
}

.cards a:hover{
    transform: scale(1.03);
}

.cards i{
    color: var(--grey);
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

.cards p, .cards h1{
    color: var(--grey);
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
    text-align: center;
}

.category article{
    width: 20%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    background-color: var(--light-yellow);
    transition: all .5s ease;
    text-decoration: none;
}

.category p, .category h1, .category i{
    font-size: 1.5rem;
    margin-top: 1rem;
}