<%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <main id="main-profile">
        <section id="card">
            <form action="" id="edit-user">
                <h1>Info User</h1>
                <label for="">
                    <i class="fas fa-user"></i><input type="text"><span></span>
                </label>
                <label for="">
                    <i class="fas fa-envelope"></i><input type="email"><span></span>
                </label>
                <label for="">
                    <i class="fas fa-lock"></i><input type="password" id="password"><button id="btn-eye"><i class="fas fa-eye"></i></button>
                </label>
                <section id="buttons">
                    <button type="reset" id="reset"><i class="fas fa-sync-alt"></i></button>
                    <button type="submit"><i class="fas fa-share-square"></i></button>
                </section>
            </form>
        </section>
    </main>
    <%- include ("../partials/footer.ejs") %>
    <script src="/js/header.js"></script>
</body>
</html>