<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/creatProduct.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>     
        <section id="detalleProducto">
            <nav id="socialMedia">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </nav>
            <figure><img src=" "></figure>
            <article class="infoProducto">
                <section class="infoProduct2">
                <label id="foto-de-producto">
                    <i class="far fa-image"></i><input type="file" id="foto-de-producto2" accept=".png, .jpg">
                  </label>
                    <input type="text" placeholder="Nombre del Producto" name="nombreProducto" class="detallesProducto">
                    <input type="number" placeholder="Precio del Producto" name="precioProducto" class="detallesProducto">
                <label class="etiquetaInfo">
                    <textarea placeholder="Descripcion del producto" name="Info Producto" class="infoDelProducto"></textarea>
                </label>
            </section>
            </article>
            <section id="botones">
                <label id="options-category">
                    <select id="options-category">
                        <option value="" selected></option>
                        <option value="celiaco">CELIACO</option>
                        <option value="diabetico">DIABETICO</option>
                        <option value="vegetariano">VEGETARIANO</option>
                        <option value="vegano">VEGANO</option>
                    </select>
                    <select>
                        <option value=""></option>
                        <option value="oferta-si">En oferta</option>
                        <option value="oferta-no">Sin oferta</option>
                    </select>
                </label>
                <section id="edit-button">
                    <button type="button" name="edit-button">CREAR</button>
                    </section>
            </section>
        </section>
    </section>
    </main>
    <%- include ("../partials/footer.ejs") %> 
</body>
</html>