<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/mainAlmacenProductDetail.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>     
        <section id="detalleProducto">
            <nav id="socialMedia">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </nav>
            <figure><img src=" "></figure>
            <article class="infoProducto">
                <h2 class="nombreProducto">PRODUCTO</h2>
                <h3 class="precio">$PRECIO</h3>
                <p>DESCRIPCION</p>
                <section id="botones">
                    <form class="shopping" action="/comprar" method="POST">
                        <input type="number" id="cantidad" name="cantidad">
                        <button type="submit">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </form>
                    <form class="favorito" action="/favoritos"  method="POST">
                        <button type="submit">
                            <i class="fas fa-heart"></i>
                        </button>
                    </form>
                </section>
            </article>
        </section>

    </main>
    <%- include ("../partials/footer.ejs") %> 
</body>
</html>