<!DOCTYPE html>
<html lang="es">
    <%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>    
        <form id="infoProducto" method="PUT" action="/">
            <section id="imagen">
                <figure>
                    <img src="/img/productos/almacen/almacen-natuur (107).jpg ">
                </figure>
                <input type="button" id="submit" value="Editar" class="boton-img">
            </section>
            <section id="detalles">
                <label id="id" name="id">ID</label>
                <input type="text" placeholder="Nombre del Producto" id="producto" name="producto"> <!-- en el placeholder dinamismo para que se vea --> 
                <article id="precio">
                    <p>$</p>
                    <input type="number" placeholder="Precio del Producto" id="precio" name="precio">
                </article>
                <textarea placeholder="Descripcion del producto" id="descr" name="descr"></textarea>
                <select id="type">
                    <option value="" selected></option>
                    <option value="celiaco">CELIACO</option>
                    <option value="diabetico">DIABETICO</option>
                    <option value="vegetariano">VEGETARIANO</option>
                    <option value="vegano">VEGANO</option>
                </select>
                <select id="size">
                    <option value="" selected></option>
                    <option value="250gr">250gr</option>
                    <option value="500gr">500gr</option>
                    <option value="1kg">1kg</option>
                    <option value="250ml">250ml</option>
                    <option value="500ml">500ml</option>
                    <option value="1litro">1litro</option>
                </select>
                <select id="oferts">
                    <option value="" selected></option>
                    <option value="true">En oferta</option>
                    <option value="false">Sin oferta</option>
                </select>
                <input type="button" id="submit" value="Editar">
                <input type="button" id="reset" value="Resetear campo">
            </section>
        </form> 
    </main>
    <footer>
    <section id="footer-first-section">
        <nav class="footer-item">
            <h3>¡Escribinos!<br>
            <a href="#">hola@natuur.com.ar</a></h3>
            <p><a href="#">Formá parte de nuestro equipo</a></p>
            <p><a href="#">Términos y Condiciones</a></p>
        </nav>
        <hr id="footer-linea">
        <section class="footer-item">
            <h3>Métodos de pago</h3>
            <section class="methods-p">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-paypal"></i>
                <i class="fab fa-bitcoin"></i>
            </section>
        </section>
        <section class="footer-item">
                <form>
                    <input type="email" id="email" name="email" placeholder="NEWSLETTER">
                    <button type="submit" action="/" method="POST">Enviar</button>
                </form>
                <nav class="social-media">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </nav>
        </section>
    </section>
    <section id="footer-second-section">
        <p>Copyright © 2021 Natuur</p>
    </section>
    
</footer> 
</body>
</html>