<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main-product.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Natuur</title>
</head>
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>
        <section id="carrito">
            <article class="product-info">
                <figure>
                    <img src="/img/productos/almacen/almacen-natuur (78).jpg" alt="">
                </figure>
                <section class="product-unit">
                    <h3 class="product-id">PRODUCTO</h3>
                    <p class="precio">PRECIO</p>
                    <form class="cantidad" action="/" method="POST">
                        <input type="number" id="cantidad" name="cantidad">
                    </form>
                    <nav class="product-delete">
                        <a href="/"><i class="fas fa-trash-alt"></i></a>
                    </nav>
                </section>   
            </article>
            
            <form id="code-box" method="POST" action="/">
                <input class="info" type="text" placeholder="Ingrese código de descuento">
                <input class="info" type="text">
            </form>
            <form id="code-box" method="POST" action="/">
                <input class="info" type="text" placeholder="Ingrese código postal">
                <input class="info" type="text">
            </form>

            <form id="check-out" action="/" method="POST">
                <input type="number" id="cantidad" name="cantidad" placeholder="Total Compra">
            </form>
            <form id="check-out-button" action="/" method="POST">
                <button>Seguir comprando</button>
                <button>Check out</button>
            </form>
            
        </section>
        
    </main>
    <%- include ("../partials/footer.ejs") %> 
</body>
</html>