<!DOCTYPE html>
<html lang="es">
    <%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>
        <section id="carrito">
            <article class="product-info">
                <figure>
                    <img src="/img/productos/almacen/almacen-natuur (78).jpg" alt="">
                </figure>
                <section class="product-unit">
                    <h3 class="product-id">PRODUCTO</h3>
                    <p class="precio">PRECIO</p>
                    <form class="cantidad" action="/" method="POST">
                        <input type="number" id="cantidad" name="cantidad">
                    </form>
                    <nav class="product-delete">
                        <a href="/"><i class="fas fa-trash-alt"></i></a>
                    </nav>
                </section>   
            </article>
            
            <form id="code-box" method="POST" action="/">
                <input class="info" type="text" placeholder="Ingrese código de descuento">
                <input class="info" type="text">
            </form>
            <form id="code-box" method="POST" action="/">
                <input class="info" type="text" placeholder="Ingrese código postal">
                <input class="info" type="text">
            </form>

            <form id="check-out" action="/" method="POST">
                <input type="number" id="cantidad" name="cantidad" placeholder="Total Compra">
            </form>
            <form id="check-out-button" action="/" method="POST">
                <button>Seguir comprando</button>
                <button>Check out</button>
            </form>
            
        </section>
        
    </main>
    <%- include ("../partials/footer.ejs") %> 
</body>
</html>