main.main-register{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 130px;
    background-color: whitesmoke;
    width: 80vw;
    border-radius: 1rem;
    padding: 1rem 0;
}
p.bienvenido{
    display: flex;
    margin: auto;
    width: 80vw;
    background-color: #f1ba33;
    padding: 0.7rem 0;
    margin-bottom: 1rem;
    justify-content: center; 
    font-weight: 700;
}
input.formulario-register{
    display: flex;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: left;
    width: 50vw;
}

.select {
    display: flex;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 50vw;
    color: grey;
}

input[type="file"]{
    margin: 1rem 0;
}

main.main-register button{
    display: flex;
    margin: .5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem; 
    justify-content: center;
    text-decoration: none;
    background-color: #3f3f3f;
    color: white;
    width: 25vw;
    transition: all 0.4s ease-in-out;
}

main.main-register button:hover{
    background-color: #f1ba33;
}

.size {
    margin-left: 0.8rem;
}

@media screen and (min-width: 768px) {
    main.main-register{
        margin-top: 150px;
        width: 60vw;
    }
    p.bienvenido{
        width: 60vw;
    }
    input.formulario-register{
        width: 40vw;
    }

    .select {
        width: 40vw;
    }
    main.main-register button{
        width: 20vw;
    }
}
@media screen and (min-width: 1200px) {
    main.main-register{
        margin-top: 180px;
        width: 50vw;
    }
    p.bienvenido{
        width: 50vw;
    }
}

