main {
    margin-top: 120px;
}

#infoProducto { 
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    justify-content: center;
}

#infoProducto #imagen{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0 0.5rem;
    width: 80vw;
}

.boton-img {
/*     position: absolute;
    top: 5vw;
    right: 10vw; */
    border: none;
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #3f3f3f;
    transition: all .4s ease-in-out;
}

.boton-img:hover {
    background-color: #f1ba33;
    color: #3f3f3f;
}

#infoProducto img{
    width: 100%;
    border: solid 0.2rem #f1ba33;
    border-radius: 2rem;
}

#detalles {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-top: 1rem;
}

#detalles input, #detalles label, #detalles select,  #detalles textarea{
    border: none;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #FEF8EA;
}

#precio {
    display: flex;
    flex-flow: row wrap;
    width: 60vw;
}

#precio p {
    display: flex;
    flex-flow: row wrap;
    width: 10vw;
    justify-content: flex-end;
    align-self: center;
}
#precio input {
    display: flex;
    flex-flow: row wrap;
    width: 50vw;
}

#detalles textarea{
    overflow: scroll;
    height: 30vh;
    border: none;
    padding: 0.5rem;
    resize: none;
}

#detalles input[type="button"] {
    color: #fff;
    background-color: #3f3f3f;
    transition: all .4s ease-in-out;
}

#detalles input[type="button"]:hover {
    background-color: #f1ba33;
    color: #3f3f3f;
}
    
/**TABLET**/
@media screen and (min-width: 768px) {
    main {
        margin-top: 160px;
    }

    #infoProducto { 
        justify-content: space-around;
    }
    
    #infoProducto #imagen{
        width: 30vw;
        align-self: flex-start;
    }
    
    .boton-img {
/*         top: 2vw;
        right: 3vw; */
    }
    
    #detalles {
        width: 30vw;
    }

    
    #precio {
        display: flex;
        flex-flow: row wrap;
        width: 30vw;
    }
    
    #precio p {
        display: flex;
        flex-flow: row wrap;
        width: 5vw;
        justify-content: flex-end;
        align-self: center;
    }
    #precio input {
        display: flex;
        flex-flow: row wrap;
        width: 25vw;
    }
    
}
@media screen and (min-width: 1200px) {
     main {
        margin-top: 180px;
    }

    #infoProducto { 
       margin: auto;
       width: 60vw;
    }
    #infoProducto #imagen{
        width: 20vw;
        align-self: flex-start;
    }
    
    .boton-img {
/*         top: 1vw;
        right: 1vw; */
    }
    
    #detalles {
        width: 30vw;
    }

    
    #precio {
        display: flex;
        flex-flow: row wrap;
        width: 28vw;
    }
    
    #precio p {
        display: flex;
        flex-flow: row wrap;
        width: 2vw;
        justify-content: flex-end;
        align-self: center;
    }
    #precio input {
        display: flex;
        flex-flow: row wrap;
        width: 25vw;
    }
}