main {
    margin-top: 120px;
}

#detalleProducto { 
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    justify-content: center;
    margin: auto;
    background-color: #FEF8EA;
    border-radius: 3%;
}

#socialMedia {
    margin-top: 2rem;
}

#detalleProducto nav{
    display: flex;
    flex-flow: column wrap;
    width: 5vw;
    align-content: flex-end;
    /* padding-right: 1rem; */
}

#detalleProducto nav i{
    font-size: 1rem;
    color: #f1ba33;
    padding-bottom: 0.8rem;
}

#detalleProducto figure{
    margin: 0 0.5rem;
    width: 80vw;
}

#detalleProducto img{
    width: 100%;
    border: solid 0.2rem #f1ba33;
    border-radius: 2rem;
}

.infoProducto {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 0.8rem 1.3rem;
    width: 70vw;
}

input.detallesProducto{
    width: 80%;
    border: none;
    margin: auto;
    margin-bottom: 0.5rem;
    border-radius: 5%;
    padding: 0.5rem;
    transition-property: all;
    transition-duration: 0.5s;
}

input.detallesProducto:hover{
    border-color: #F1BA33;
}

label.etiquetaInfo{
    display: flex;
    margin: auto;
    overflow: scroll;
}

textarea.infoDelProducto{
    width: 60vw;
    height: 30vh;
    margin: auto;
    border: none;
    padding: 0.5rem;
    border-radius: 5%;
    text-align: center;
    resize: none;
    transition-property: all;
    transition-duration: 0.5s;
}

textarea.infoDelProducto:hover{
    border-color: #F1BA33;
}

section#botones select{
    display: flex;
    justify-content: center;
    width: 8rem;
    margin: auto;
    border: none;
    border-radius: 10%;
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

    
/**TABLET**/
@media screen and (min-width: 768px) {
    main {
        margin-top: 160px;
    }

    #detalleProducto {
        background-color: rgba(241, 186, 51, 0.1);
        padding: 1.2rem;
        border-radius: 1rem;
    }
    
  #detalleProducto nav i{
        font-size: 1.5rem;

    }
    
    #detalleProducto figure{
        margin: 0 0.5rem;
        width: 30vw;
    }
    
    .infoProducto {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        width: 30vw;
        align-content: flex-start;
    }
    
    section#botones select{
        margin-left: 70%;
        margin-top: 00.5rem;
    }
}

@media screen and (min-width: 1200px) {
    main {
        margin-top: 180px;
    }

    #detalleProducto figure{
        width: 20vw;
    }

    .infoProducto h2{
        font-size: 1.3rem;
    }
    
    .infoProducto .precio{
        font-size: 1.2rem;
    }
    
    .infoProducto p{
        font-size: 0.9rem;   
    }

}
