main.main-register{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    background-color: whitesmoke;
    width: 100vw;
    margin: auto;
    margin-top: 120px;
}
p.bienvenido{
    display: flex;
    margin: 20px;
    width: 25vw;
    background-color: rgb(243, 239, 239);
    padding: 15px;
    border-radius: 5%;
    justify-content: center;
    font-weight: 700;
}
input.formulario-register{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 80vw;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 3%;
    text-align: left;
}
i.fa-google{
    color: white;
}
main.main-register button{
    display: flex;
    margin: 10px;
    width: 5vw;
    padding: 5px;
    border: none;
    border-radius: 3%; 
    align-items: center;
    justify-content: center;
    background-color: #3f3f3f;
    color: white;
    transition: all 0.4s ease-in-out;
}

main.main-register button:hover{
    background-color: #f1ba33;
}

@media screen and (min-width: 320px) {
    main.main-register{
        justify-content: center;
        width: 100vw;
        margin-right: none;
    }
    p.bienvenido{
        width: 80vw;
        justify-content: center;
        text-align: center;
    }
    input.formulario-register{
        width: 80vw;
    } 
    main.main-register button{
        width: 30vw;
    }
}
@media screen and (min-width: 768px) {
    main {
        margin-top: 183px 
    }
    main.main-register{
        justify-content: center;
        width: 100vw;
        margin-right: none;
    }
    p.bienvenido{
        width: 80vw;
        justify-content: center;
        text-align: center;
    }
    input.formulario-register{
        width: 80vw;
    }
    main.main-register button{
        width: 30vw;
    }
}
@media screen and (min-width: 1080px) {
    main.main-register{
        justify-content: center;
        width: 100vw;
        margin-right: none;
    }
    p.bienvenido{
        width: 80vw;
        justify-content: center;
        text-align: center;
    }
    input.formulario-register{
        width: 60vw;
    }
    main.main-register button{
        width: 15vw;
    }    
}

