#carrito {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 130px;
    background-color: whitesmoke;
    width: 90vw;
    border-radius: 1rem;
    padding: 1rem 0;
}

.product-info{
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    justify-content: center;
    margin: auto;
    padding-bottom: 1rem;
    border-bottom: #3f3f3f 0.1rem solid;
}

.product-info figure{
    display: flex;
    justify-content: center;
    width: 20vw;
}

.product-info img{
    width: 100%;
    border-radius: 0.5rem;
}

.product-unit {
    display: flex;
    flex-flow: row wrap;
    width: 60vw;
    align-content: center;
    justify-content: center;
    padding: 1rem;
}

.product-unit h3{
    font-weight: 700;
    width: 100vw;
}

.product-unit p.precio {
    align-self: center;
    font-size: 0.8rem;
}

.product-unit p.precio, .product-unit form.cantidad {
    width: 20vw;
    margin-top: 0.5rem;
}

.cantidad input {
    border: none;
    border-radius: 1rem;
    background-color: white;
    padding: 0.8rem ;
    width: 3rem;
    height: 1rem;
    margin-left: 0.5rem;
}

.product-delete {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    
}

.fa-trash-alt {
    color: #3f3f3f;
    font-size: 1rem;
    transition: all .4s ease-in-out;
}


.product-delete a:hover .fa-trash-alt {
    color: #f1ba33;
}

#code-box{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    justify-content: space-around;
    padding-bottom: 1rem;
    border-bottom: #3f3f3f 0.1rem solid;
}

form .info {
    width: 35vw;
}

form input.info {
    border: none;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#check-out {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    width: 80vw;
    justify-content: space-around;
    margin-top: 1rem ;
}

#check-out input{
    width: 30vw;
    border: none;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
}

#check-out-button {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 2rem ;
    width: 80vw;
    justify-content: space-around;
}

#check-out-button button{
    display: flex;
    margin: .5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem; 
    justify-content: center;
    text-decoration: none;
    background-color: #3f3f3f;
    color: white;
    width: 25vw;
    width: auto;
    transition: all 0.4s ease-in-out;
}

#check-out-button button:hover{
    background-color: #f1ba33;
}

@media screen and (min-width: 768px){
    main{
        margin-top: 140px;
    }

    .product-info figure{
        width: 15vw;
    }

    .cantidad input{
        width: 4rem;
        padding: 1rem;
    }
    
    .fa-trash-alt {
        color: #3f3f3f;
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1200px){
    main {
        margin-top: 175px;
    }

    .product-info figure{
        width: 7vw;
    }
}