main {
    margin-top: 120px;
}

#detalleProducto { 
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    justify-content: center;
    margin: auto;
}

#socialMedia {
    margin-top: 2rem;
}

#detalleProducto nav{
    display: flex;
    flex-flow: column wrap;
    width: 5vw;
    align-content: flex-end;
    /* padding-right: 1rem; */
}

#detalleProducto nav i{
    font-size: 1rem;
    color: #f1ba33;
    padding-bottom: 0.8rem;
}

#detalleProducto figure{
    margin: 0 0.5rem;
    width: 80vw;
}

#detalleProducto img{
    width: 100%;
    border: solid 0.2rem #f1ba33;
    border-radius: 2rem;
}

.infoProducto {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 0.8rem 1.3rem;
    width: 70vw;
}

.infoProducto h2{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    font-weight: 700;
    text-transform: uppercase;
}

.infoProducto .precio{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 50%;
    font-weight: 600;
}

.infoProducto p{
    line-height: 1.5rem;
    font-size: 0.8rem;   
    margin-top: 1rem; 
}

.infoProducto #botones {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100vw;
    margin-top: 1rem;
    justify-content: flex-end;
} 

.infoProducto .shopping {
    display: flex;
    flex-flow: row wrap;
    width: auto;
}

.infoProducto .shopping input {
    border: none;
    border-radius: 1rem;
    background-color: white;
    padding: 0.8rem ;
    width: 25vw;
}

.infoProducto .shopping button{
    margin: 0 1rem;
}

.infoProducto button {
    border: none;
    background-color: transparent;
    color: #f1ba33;
    font-size: 1.5rem;
}

.infoProducto .favorito {
    width: auto;
}

/*Te puede interesar*/
#interesar {
    display: flex;
    width: 80vw;
    flex-flow: row wrap;
    margin-top: 1rem;
    margin: auto;
}

#interesar h1 {
    width: 80vw;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #3f3f3f;
    margin: 1rem 0 1rem 0;
/*     border-bottom: 0.3rem solid #f1ba33;
    padding-bottom: 1.5rem; */
}

#interesar article {
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #E0DFE5;
    position: relative; 
    line-height: 1.5rem;
    margin-top: 1.5rem;
    box-shadow: 0px 0px 10px rgba(95, 95, 95, 0.3);
}

#interesar article img{
    width: 100%;
}

#interesar .product-info {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    text-align: center;
}

#interesar .descripcion {
    font-size: 1rem;
    position: absolute;
    top: 5vw;
    color: #3f3f3f; 
    font-weight: 700;
    background-color: #f1ba33;
    padding: 0.5rem;
    width: 100%;
    line-height: 1.2rem;
/*     text-transform: uppercase; */
}

#interesar .precio {
    font-weight: 700;
    font-size: 1.3rem;
    color: #3f3f3f; 
    position: absolute;
    bottom: 5vw;
    right: 5vw;
}
    
/**TABLET**/
@media screen and (min-width: 768px) {
    main {
        margin-top: 160px;
    }

    #detalleProducto {
        background-color: rgba(241, 186, 51, 0.1);
        padding: 1.2rem;
        border-radius: 1rem;
    }
    
  #detalleProducto nav i{
        font-size: 1.5rem;

    }
    
    #detalleProducto figure{
        margin: 0 0.5rem;
        width: 30vw;
    }
    
    .infoProducto {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        width: 30vw;
        align-content: flex-start;
    }
    
    .infoProducto h2{
        width: 100%;
        border-bottom: #f1ba33 solid 0.2rem;
        padding-bottom: 1rem;
    }
    
    .infoProducto .precio{
        justify-content: flex-start;
        width: 100%;
        margin: 1.2rem 0;
        font-size: 1rem;
    }
    
    .infoProducto p{
        line-height: 1.5rem;
        font-size: 0.8rem;   
        margin: 0.5rem 0; 
    }
    
    .infoProducto #botones {
        margin-top: 0.8rem;
        justify-content: flex-start;
    } 
    
    .infoProducto .shopping {
        display: flex;
        flex-flow: row wrap;
        width: auto;
    }
    
    .infoProducto .shopping input {
        width: 8vw;
    }
    
    /*te pueden interesar*/
    #interesar article {
        display: flex;
        width: 30vw;
        flex-flow: row wrap;
        transition: all .4s ease-in-out; 
        }
    
    #interesar article:hover {
        transform: scale(1.03);
        }

    #interesar .descripcion {
        top: 2vw;
        }
        
    #interesar .precio {
        bottom: 2vw;
        right: 2vw;
        }
}

@media screen and (min-width: 1200px) {
    main {
        margin-top: 180px;
    }

    #detalleProducto figure{
        width: 20vw;
    }

    .infoProducto h2{
        font-size: 1.3rem;
    }
    
    .infoProducto .precio{
        font-size: 1.2rem;
    }
    
    .infoProducto p{
        font-size: 0.9rem;   
    }

    
    /*te pueden interesar*/
    #interesar article {
        width: 16vw; 
        }

    #interesar .descripcion {
        font-size: 1rem;
        padding: 0.3rem;
        top: 2vw;
        }
        
    #interesar .precio {
        font-size: 1rem;
        bottom: 1vw;
        right: 1vw;
        }

}
