/*MAIN*/
main {
    display: flex;
    width: 90vw;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 150px;
}

#producto{
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    width: 70vw;
    flex-flow: column wrap;
    align-items: center;
    background-color: #E0DFE5;
    position: relative; 
    line-height: 1.5rem;
    margin-top: 1.5rem;
    box-shadow: 0px 0px 10px rgba(95, 95, 95, 0.3);
}

#producto img{
    width: 100%;
}

#producto .product-info {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    text-align: center;
}

#producto .descripcion {
    font-size: 1rem;
    position: absolute;
    top: 5vw;
    color: #3f3f3f; 
    font-weight: 700;
    background-color: #f1ba33;
    padding: 0.5rem;
    width: 100%;
    line-height: 1.2rem;
/*     text-transform: uppercase; */
}

#producto .precio {
    font-weight: 700;
    font-size: 1.3rem;
    color: #3f3f3f; 
    position: absolute;
    bottom: 5vw;
    right: 5vw;
}


/**TABLET**/
@media screen and (min-width: 768px) {
    /*DESTACADOS*/
    #producto {
        display: flex;
        width: 30vw;
        flex-flow: row wrap;
        transition: all .4s ease-in-out; 
        }

    #producto:hover {
        transform: scale(1.03);
    }

    #producto .descripcion {
        top: 2vw;
        }
        
    #producto .precio {
        bottom: 2vw;
        right: 2vw;
        }

}

@media screen and (min-width: 1200px) {
    /*DESTACADOS*/
    main {
        margin-top: 170px;
    }
    #producto {
        width: 16vw;
    }

    #producto .descripcion {
        font-size: 1rem;
        padding: 0.3rem;
        top: 2vw;
    }
    
    #producto .precio {
        font-size: 1rem;
        bottom: 1vw;
        right: 1vw;
    }

}