/*MAIN*/
main {
    display: flex;
    width: 90vw;
    flex-flow: column wrap;
    margin: auto;
}

/*DESTACADOS*/
#destacados, #kits {
    display: flex;
    width: 80vw;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
}

#destacados h1, #kits h1 {
    width: 80vw;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #3f3f3f;
    margin: 1rem 0;
/*     border-bottom: 0.3rem solid #f1ba33;
    padding-bottom: 1.5rem; */
}

#destacados article {
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #E0DFE5;
    position: relative; 
    text-transform: uppercase;
    line-height: 1.5rem;
    transition: all .4s ease-in-out; 
    margin-top: 1.5rem;
}

#destacados article:hover {
    transform: scale(1.02);
}

#destacados article img, #kits article img {
    width: 100%;
}

#destacados .product-info {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    text-align: center;
}

#destacados .descripcion {
    font-size: 1rem;
    position: absolute;
    top: 5vw;
    color: #3f3f3f; 
    font-weight: 700;
    background-color: #f1ba33;
    padding: 1rem;
    width: 100%;
}

#destacados .precio {
    font-weight: 700;
    font-size: 1.3rem;
    color: #3f3f3f; 

    /* border: none;
    border-radius: 50%;
    background-color: #f1ba33;
    padding: 1rem; */
    position: absolute;
    bottom: 5vw;
    right: 5vw;
}

/*KITS*/
#kits article {
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #D4CFD5;
    width: 80vw;
    opacity: 1.0;
    position: relative; 
    transition: all 400ms ease-in-out; 
    }
    
#kits article:hover img{
    opacity: 0.3;
    }
    
#kits .product-info {
    Display: flex;
    width: 100%;
    flex-flow: column wrap;
    /* align-items: flex-end; */
  
    align-items: center;  
    }

#kits    .descripcion {
    font-size: 1.5rem;
    position: absolute;
    top: 35vw;
    color: #3f3f3f; 
    
    border-radius: .5rem;
    padding: 0.8rem;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
    }
    
#kits article:hover .descripcion{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgb(95, 95, 95);
    }
    
#almacen .descripcion {
    background-color: #f1ba33;
/*     visibility: hidden; */
    }

#gourmet .descripcion {
    background-color: #469e9d;
/*     visibility: hidden; */
    }

#cosmetica .descripcion {
    background-color: #e58976;
   /*  visibility: hidden; */
    }

/**TABLET**/
@media screen and (min-width: 768px) {
    /*DESTACADOS*/
    #destacados article {
        display: flex;
        width: 30vw;
        flex-flow: row wrap;
        }

    #destacados .descripcion {
        top: 2vw;
        }
        
    #destacados .precio {
        bottom: 2vw;
        right: 2vw;
        }

    /*KITS*/  
    #kits article {
        width: 50vw;
        }

    #kits .descripcion {
        font-size: 1.3rem;
        top: 22vw;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    /*DESTACADOS*/
    #destacados article {
        width: 18vw;
    }

    #destacados .descripcion {
        font-size: 1rem;
        padding: 0.5rem;
        top: 2vw;
    }
    
    #destacados .precio {
        font-size: 1rem;
        bottom: 1vw;
        right: 1vw;
    }

    /*KITS*/
    #kits article {
        width: 20vw;
        margin: 2rem;
        }

    #kits .descripcion {
        top: 9vw;
    }

}