/* amarillo: #f1ba33
    rosa: #e58976
    azul: #469e9d
    grisoscuro: #3f3f3f
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans', sans-serif;
    
}

header{
    width: 100vw;
    display: flex;
    padding: 1rem;
    background-color: rgb(230, 158, 44);
    height: 450px;
    overflow: hidden;
}

#main-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    padding: 1rem;
    /* background-color: burlywood; */
    margin: auto;
    position: fixed;
    top: 0vw;
}

#main-menu figure{
    display: flex;
    width: 45vw;
}
img{
    max-width: 200px;
}

#hamburguer-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:45vw;
    font-size: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    /* background-color: brown; */
    padding-right: 1rem;
}

.fa-bars{
    color: #3f3f3f;
    background-color: #f1ba33;
    padding: 0.8rem;
    border-radius: 15%;
}
#head-list{
    display: none;
}

#user-list{
    display: none;
}



@media screen and (min-width: 768px){
    #main-menu{
        display: flex;
        padding: 2rem;
    }
    #hamburguer-menu{
        display: none;
    }
    #main-menu figure{
       width: 45vw; 
    }
    #main-menu figure img{
        max-width: 200px;
    }
    #user-list{
        display: flex;
        width: 45vw;
        justify-content: flex-end;
        align-items: center;
        /* background-color: aquamarine; */
    }
    #user-list a{
        text-decoration: none;
        color: #3f3f3f;
        /* background-color: #f1ba33;
        border: none;
        border-radius: 50%; */
        margin-left: 0.8rem;
    }
    #user-list a i{
        background-color: #f1ba33;
        border: none;
        border-radius: 50%;
        padding: 0.8rem;
        font-size: 1.5rem;
    }
    #head-list{
        display: inline-flex;
        width: 100vw;
        justify-content: center;
        margin-top: 2rem;
    }
    
    #head-list ul{
        display: flex;
    }
    #head-list li{
        display: flex;
        padding: 0.8rem;
    }
    #head-list a{
        text-decoration: none;
        color: #3f3f3f;
        font-weight: 700;
        transition: color 400ms;   
    }
    #head-list a:hover{
        color: #f1ba33;
        font-weight: 700;   
    }
}

@media screen and (min-width: 1080px){
    #head-list li a{
        padding: 0 2rem;
    }

    
}