/*HEADER*/
header{
    width: 100vw;
    display: flex;
    background-image: url("/img/home/banner-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}

/*MAIN MENU*/
#main-menu{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    position: fixed;
    top: 0vw;
    padding: 1rem;
    z-index: 1;
    background-color: #fff; /*HASTA SABER HACERLO BIEN*/
}

#main-menu figure{
    display: flex;
    width: 45vw;
}

#main-menu figure img{
    max-width: 200px;
}

/*MENU HAMBURGUESA*/
#hamburguer-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:45vw;
    font-size: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    /* background-color: brown; */

}

.fa-bars{
    color: #3f3f3f;
    background-color: #f1ba33;
    padding: 0.8rem;
    border-radius: 15%;
}

/*MENU PRINCIPAL*/
#head-list{
    display: none;
}

/*MENU DE USUARIO*/
#user-list{
    display: none;
}

/**TABLET**/
@media screen and (min-width: 768px){

    /*MENU HAMBURGUESA*/
    #hamburguer-menu{
        display: none;
    }

    /*MAIN MENU*/
    #main-menu{
        display: flex;
        padding: 1rem;
    }

    #main-menu figure{
       width: 45vw; 
    }

    #main-menu figure img{
        max-width: 200px;
    }

    /*MENU DE USUARIO*/
    #user-list{
        display: flex;
        width: 45vw;
        justify-content: flex-end;
        align-items: center;
    }

    #user-list a{
        text-decoration: none;
        color: #3f3f3f;
        margin-left: 0.8rem;
    }

    #user-list a i{
        background-color: #f1ba33;
        border: none;
        border-radius: 50%;
        padding: 0.5rem;
        font-size: 1rem;
    }

    /*MENU PRINCIPAL*/
    #head-list{
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 1rem;
    }
    
    #head-list ul{
        display: flex;
    }

    #head-list li{
        padding: 0.8rem;
    }

    #head-list a{
        text-decoration: none;
        color: #3f3f3f;
        font-weight: 700;
        transition: color 400ms ease-in-out;  
        font-size: 0.8rem; 
    }

    #head-list a:hover{
        color: #f1ba33;
        font-weight: 700;   
    }
}

/**PC**/
@media screen and (min-width: 1080px){

    /*MENU PRINCIPAL*/
    #head-list li a{
        padding: 0 2rem;
    }
    
    #head-list a{
        font-size: 0.9rem; 
    }

    /*MAIN MENU*/
    #main-menu{
        padding: 2rem;
    }
}