main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 10vh;
}

#carrito {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    /* background-color: whitesmoke; */
    border-radius: .5rem;
    padding: 1rem 0;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.product-info{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-bottom: 1rem;
}

.product-info figure{
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-info img{
    width: 100%;
    border-radius: .5rem;
    box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .2);
}

.product-unit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 1rem;
    margin: .5rem 0;
}

.product-unit h3{
    width: 100%;
    font-weight: 700;
    text-align: center;
}

.product-unit p.precio {
    align-self: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.product-unit p.precio, .product-unit form.cantidad{
    width: 50%;
    margin-top: 0.5rem;
}
.product-unit form.cantidad{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
}
.cantidad input {
    width: 100%;
    height: 2rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    background-color: white;
    border: none;
    outline: none;
    position: relative;
    box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .2);
}
.product-unit form.cantidad button{
    width: 2rem;
    height: 2rem;
    color: #3f3f3f;
    background-color: #f1ba33;
    border-radius: 50%;
    border: none;
    outline: none;
    position: absolute;
    right: 10%;
    transition: all .5s ease;
}
.product-unit form.cantidad button i{
    transition: all .5s ease;
}
.product-unit form.cantidad button:hover{
    background-color: #3f3f3f;
    color: #f1ba33;
}
.product-unit form.cantidad button:hover i{
    transform: rotate(180deg);
}
.product-delete {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    flex: 1 0 auto;
    margin: .5rem 0;
}
.product-delete button{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: .5rem;
    color: #3f3f3f;
    background-color: #f1ba33;
    border: none;
    outline: none;
    transition: all .5s ease;
}
.product-delete button:hover{
    background-color: #3f3f3f;
    color: #f1ba33;
}
.code-box{
    width: 80%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    /* border-bottom: #3f3f3f 0.1rem solid; */
}
form input.info {
    width: 100%;
    height: 2rem;
    background-color: transparent;
    border-radius: .3rem;
    padding: .2rem;
    margin: .5rem 0;
    border: none;
    outline: none;
    box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .2);
}

.totalCompra {
    font-weight: 700;
    margin-bottom: .5rem;
}

#check-out {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    width: 80vw;
    justify-content: space-around;
    margin-top: 1rem ;
}

#check-out input{
    width: 30vw;
    border: none;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
}

#check-out-button {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 2rem ;
    width: 80vw;
    justify-content: space-around;
}

#check-out-button button{
    display: flex;
    margin: .5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem; 
    justify-content: center;
    text-decoration: none;
    background-color: #3f3f3f;
    color: white;
    width: 25vw;
    width: auto;
    transition: all 0.4s ease-in-out;
}

#check-out-button button:hover{
    background-color: #f1ba33;
}

#sinProductos {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0;
}

@media screen and (min-width: 768px){
    main{
        padding-top: 20vh;
    }
    .product-info figure{
        width: 50%;
    }
    .product-unit {
        width: 50%;
    }
    .product-delete {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1200px){
    #carrito {
        width: 50%;
    }
    .product-info{
        width: 70%;
    }
    .product-info figure{
        width: 30%;
    }
    .product-unit {
        width: 60%;
    }
    .product-unit form.cantidad button{
        width: 2.5rem;
        height: 2.5rem;
        right: 32%;
    }
}