main#main-profile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 10vh;
}
section#card{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1rem;
    box-shadow: 0 .3rem .5rem rgba( 0, 0, 0, .3);
    overflow: hidden;
}
section#card h1{
    width: 100%;
    text-align: center;
}
section#card form#photo-user, section#card form#edit-user, form#edit-user section#buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: .5rem 0;
}
section#card form#photo-user figure{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* box-shadow: 0 .2rem .3rem rgba( 0, 0, 0, .2); */
}
section#card form#photo-user figure img{
    width: 100%;
}
section#card form#photo-user figure img::selection{
    background-color: transparent;
}
section#card form#photo-user label{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem 0;
    border: 1px solid #f1ba33;
    background-color: #f1ba33;
    color: #3f3f3f;
    border-radius: .5rem;
    transition: all .5s ease;
}
section#card form#photo-user label:hover{
    background-color: transparent;
    color: #f1ba33;
}
section#card form#photo-user label input{
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
section#card form#photo-user label i{
    position: absolute;
    text-align: center;
}
section#card form#edit-user label{
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    border: 1px solid #3f3f3f;
    border-radius: .2rem;
}
section#card form#edit-user input{
    width: 90%;
    height: 90%;
    margin: 0 .2rem;
    border: none;
    outline: none;
}
section#card form#edit-user label button#btn-eye, span{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #3f3f3f;
    border: none;
    outline: none;
}
section#card form#edit-user label i{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#card form#edit-user section#buttons button{
    background-color: #f1ba33;
    color: #3f3f3f;
    padding: .3rem .8rem;
    margin: 0 .5rem;
    border: 1px solid #f1ba33;
    border-radius: .3rem;
    outline: none;
    transition: all .5s ease;
}
section#card form#edit-user section#buttons button:hover{
    background-color: transparent;
    color: #f1ba33;

}
section#card form#edit-user section#buttons button#reset i.fa-sync-alt{
    transition: all .5s ease;
}
section#card form#edit-user section#buttons button#reset:hover i.fa-sync-alt{
    transform: rotate(180deg);
}
@media screen and (min-width: 768px) {
    main#main-profile{
        padding-top: 20vh;
    }
    section#card{
        justify-content: space-between;
    }
    section#card form#photo-user, section#card form#edit-user{
        width: 50%;
    }
}
@media screen and (min-width: 1200px) {
    section#card form#photo-user figure{
        width: 60%;
    }
    section#card form#photo-user label{
        height: 2.5rem;
    }
}