<!DOCTYPE html>
<html lang="en">
    <%- include ("partials/head.ejs") %> 
<body>
    <%- include ("./partials/header.ejs") %> 
    <main id="error">
        <h1>Esta ruta no existe</h1>
        <figure><img src="/svg/taken.svg" alt=""></figure>
        <figure><img src="/svg/404.svg" alt=""></figure>
        <h2>Volver al <a href="/">Inicio</a></h2>
    </main>
    <%- include ("./partials/footer.ejs") %> 
    <script src="/js/header.js"></script>
</body>
</html>