<%- include ("partials/head.ejs") %> 
<body>
    <%- include ("partials/header.ejs") %> 
    <main>
        <section id="destacados">
            <h1>DESTACADOS</h1>
            <% if (products.length > 0) { %>
             <% products.forEach(product => { %>
                <article>
                    <a href="/products/almacenProductDetail">
                        <figure>
                            <img src="<%= product.images[0].url %> " alt="">
                        </figure>
                        <section class="product-info">
                            <p class="descripcion">Fideos integrales con ajo negro</p>
                            <p class="precio">$420</p>
                        </section>
                    </a>
                </article>
             <% }) %>
            <% } %>
           <!--  
            <article>
                <a href="/products/cosmeticaProductDetail">
                    <figure>
                        <img src="/img/productos/cosmetica/cosmetica-natuur (11).jpg" alt="">
                    </figure>
                    <section class="product-info">
                        <p class="descripcion">Roller duo cuarzo rosa</p>
                        <p class="precio">$3.900</p>
                    </section>
                </a>
            </article>
            <article>
                <a href="/products/gourmetProductDetail">
                    <figure>
                        <img src="/img/productos/gourmet/gourmet-natuur (20).jpg" alt="">
                    </figure>
                    <section class="product-info">
                        <p class="descripcion">Tarta de verduras asadas</p>
                        <p class="precio">$505</p>
                    </section>
                </a>
            </article>
            <article>
                <a href="#">
                    <figure>
                        <img src="/img/productos/cosmetica/cosmetica-natuur (1).jpg" alt="">
                    </figure>
                    <section class="product-info">
                        <p class="descripcion">Shampoo</p>
                        <p class="precio">$530</p>
                    </section>
                </a>
            </article> -->
        </section>
        <section id="kits">
            <h1>NUESTROS KITS</h1>
            <a href="#">
                <article id="almacen">
                    <figure>
                        <img src="/img/productos/kits/energia.jpg" alt="">
                    </figure>
                    <section class="product-info">
                        <p class="descripcion">Recargate de energía</p>
                    </section>
                </article>
            </a>
            <a href="#">
                <article id="gourmet">
                    <figure>
                        <img src="/img/productos/kits/gourmet.jpg" alt="">
                    </figure>
                    <section class="product-info">
                        <p class="descripcion">Date un gustito</p>
                    </section>
                </article>
            </a>
            <a href="#">
                <article id="cosmetica">
                    <figure>
                        <img src="/img/productos/kits/cosmetica.jpg" alt="">
                    </figure>
                    <section class="product-info">
                        <p class="descripcion">Cuidado personal</p>
                    </section>
                </article>
            </a>
        </section>
    </main>
    <%- include ("partials/footer.ejs") %> 
</body>
</html>