<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main-login.css">

</head>
<body>
    <header>
        <section id="main-menu">
            <a href="/">
                <figure>
                    <img src="/img/logo.png" alt="logo natuur">
                </figure>
            </a>
            <nav id="user-list">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="/register"><i class="fas fa-user"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </nav>
            <nav id="head-list">
                <ul>
                    <li>
                        <a href="#">NOSOTROS</a>
                    </li>
                    <li>
                        <a href="#">ALMACEN</a>
                    </li>
                    <li>
                        <a href="#">GOURMET</a>
                    </li>
                    <li>
                        <a href="#">COSMÉTICA</a>
                    </li>
                    <li>
                        <a href="#">CONTACTO</a>
                    </li>
                </ul>
            </nav>
            <nav id="hamburguer-menu">
                <a href="#"><i class="fas fa-bars"></i></a> 
             </nav>
        </section>
    </header>
    <main class="main-login">
        <form action="/" method="GET">
        <p id="mensaje-bienvenida-login">INGRESA TU CUENTA DE FORMA SANA Y SEGURA</p>
  
            <input class="formulario-login" type="text" placeholder="Nombre de Usuario"name="usuario" id="usuario" required>

                  <input class="formulario-login" type="password" placeholder="Contraseña" name="password">

                  <input class="formulario-login" type="password" placeholder="Repetir Contraseña" name="confirm-password">

        <section class="button-login">
              <a href="#">
                  <button type="submit" name="google">
                      <i class="fab fa-google"></i>
                </button>
            </a>
          </section>
          <section class="button-login">
              <button type="submit" name="enviar">Registrate</button>
          </section>
        </form>
    </main>
    <footer>
        <section id="footer-first-section">
            <nav class="footer-item">
                <h3>¡Escribinos!<br>
                <a href="#">hola@natuur.com.ar</a></h3>
                <p><a href="#">Formá parte de nuestro equipo</a></p>
                <p><a href="#">Términos y Condiciones</a></p>
            </nav>
            <hr id="footer-linea">
            <section class="footer-item">
                <h3>Métodos de pago</h3>
                <section class="methods-p">
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-bitcoin"></i>
                </section>
            </section>
            <section class="footer-item">
                    <form>
                        <input type="email" id="email" name="email" placeholder="NEWSLETTER">
                        <button type="submit" action="/" method="POST">Enviar</button>
                    </form>
                    <nav class="social-media">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram-square"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                    </nav>
            </section>
        </section>
        <section id="footer-second-section">
            <p>Copyright © 2021 Natuur</p>
        </section>
    </footer>
</body>
</html>