<footer>
    <section id="footer-first-section">
        <nav class="footer-item">
            <h3>¡Escribinos!<br>
            <a href="#">hola@natuur.com.ar</a></h3>
            <p><a href="#">Formá parte de nuestro equipo</a></p>
            <p><a href="#">Términos y Condiciones</a></p>
        </nav>
        <hr id="footer-linea">
        <section class="footer-item">
            <h3>Métodos de pago</h3>
            <section class="methods-p">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-paypal"></i>
                <i class="fab fa-bitcoin"></i>
            </section>
        </section>
        <section class="footer-item">
                <form>
                    <input type="email" id="email" name="email" placeholder="NEWSLETTER" class="newsletter">
                    <button type="submit" action="/" method="POST">Enviar</button>
                </form>
                <nav class="social-media">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </nav>
        </section>
    </section>
    <section id="footer-second-section">
        <p>Copyright © 2021 Natuur</p>
    </section>
    
</footer>