<header class="<%= locals.expanded && expanded == true ? 'expanded' : null %>">
    <section id="main-menu">
        <a href="/">
            <figure>
                <img src="/img/logo.png" alt="logo natuur">
            </figure>
        </a>
        <section id="menu">
            <a href="#" id="close"><i class="fas fa-times"></i></a>
            <nav id="user-list">
                <a href="#search" id="search-icon"><i class="fas fa-search"></i></a>
                <% if (!user) { %>
                    <a href="/users/login"><i class="fas fa-user"></i></a>
                <% } else { %>
                    <% if (user.roll === 1 ) { %>
                        <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
                    <% } else { %>
                        <a href="/products/create"><i class="fas fa-plus"></i></a>
                    <% } %> 
                    <a href="/users/perfil"><i class="fas fa-user"></i></a>
                    <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
                <% } %>
            </nav>
            <nav id="head-list">
                <ul>
                    <li>
                        <a href="/nosotros">NOSOTROS</a>
                    </li>
                    <li>
                        <a href="/products/almacen">ALMACEN</a>
                    </li>
                    <li>
                        <a href="/products/gourmet">GOURMET</a>
                    </li>
                    <li>
                        <a href="/products/cosmetica">COSMÉTICA</a>
                    </li>
                    <li>
                        <a href="/contacto">CONTACTO</a>
                    </li>
                </ul>
            </nav>
        </section>
        <nav id="user-list-desktop">
            <a href="#search" id="search-icon"><i class="fas fa-search"></i></a>
            <% if (!user) { %>
                <a href="/users/login"><i class="fas fa-user"></i></a>
            <% } else { %>
                <% if (user.roll === 1 ) { %>
                    <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
                    <% } else { %>
                        <a href="/products/create"><i class="fas fa-plus"></i></a>
                    <% } %> 
                <a href="/users/perfil"><i class="fas fa-user"></i></a>
                <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
            <% } %>
        </nav>
        <nav id="head-list-desktop">
            <a href="/nosotros">NOSOTROS</a>
            <a href="/products/almacen">ALMACEN</a>
            <a href="/products/gourmet">GOURMET</a>
            <a href="/products/cosmetica">COSMÉTICA</a>
            <a href="/contacto">CONTACTO</a>
        </nav>
        <form action="/products/search" id="search" method="get">
            <a href="#" id="close"><i class="fas fa-times"></i></a>
            <fieldset>
                <input type="text" id="query" name="query" minlength="3" placeholder="Search...">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </fieldset>
        </form>
        <nav id="hamburguer-menu">
            <a href="#search"><i class="fas fa-search"></i></a>
            <a href="#menu"><i class="fas fa-bars"></i></a> 
         </nav>
    </section>
</header>