<header>
    <section id="main-menu">
        <a href="/">
            <figure>
                <img src="/img/logo.png" alt="logo natuur">
            </figure>
        </a>
        <nav id="user-list">
            <a href="#"><i class="fas fa-search"></i></a>
            <% if (!user) { %>
                <a href="/users/login"><i class="fas fa-user"></i></a>
            <% } else { %>
                <% if (user.roll === 1 ) { %>
                    <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
                    <a href="/users/perfil"><i class="fas fa-user"></i></a>
                <% } else { %>
                    <a href="/products/create"><i class="fas fa-plus"></i></a>
                <% } %> 
                <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
            <% } %>
        </nav>
        <nav id="head-list">
            <ul>
                <li>
                    <a href="/nosotros">NOSOTROS</a>
                </li>
                <li>
                    <a href="/products/almacen">ALMACEN</a>
                </li>
                <li>
                    <a href="/products/gourmet">GOURMET</a>
                </li>
                <li>
                    <a href="/products/cosmetica">COSMÉTICA</a>
                </li>
                <li>
                    <a href="/contacto">CONTACTO</a>
                </li>
            </ul>
        </nav>
        <nav id="hamburguer-menu">
            <a href="#"><i class="fas fa-bars"></i></a> 
         </nav>
    </section>    
</header>