<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main-index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Natuur</title>
</head>
<body>
    <header>
        <section id="main-menu">
            <figure>
                <img src="/img/logo.png" alt="logo natuur">
            </figure>
                <nav>
                <ul>
                    <li>
                        <a href="#">NOSOTROS</a>
                    </li>
                    <li>
                        <a href="#">ALMACEN</a>
                    </li>
                    <li>
                        <a href="#">GOURMET</a>
                    </li>
                    <li>
                        <a href="#">COSMÉTICA</a>
                    </li>
                    <li>
                        <a href="#">CONTACTO</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section id="mobile-row">
            <figure>
                <img src="/img/logo.png" alt="logo natuur">
            </figure>
            <nav class="hamburguer-menu">
                <a href="#"><i class="fas fa-bars"></i></a> 
             </nav>
        </section>
        
    </header>
    <!-- --------------------------------------------- -->
    <main>
        <section>
            <h1>DESTACADOS</h1>
            <article>
                <figure>
                    <img src="" alt="">
                </figure>
                <p></p>
                <p></p>
            </article>
            <article>
                <figure>
                    <img src="" alt="">
                </figure>
                <p></p>
                <p></p>
            </article>
            <article>
                <figure>
                    <img src="" alt="">
                </figure>
                <p></p>
                <p></p>
            </article>
            <article>
                <figure>
                    <img src="" alt="">
                </figure>
                <p></p>
                <p></p>
            </article>
        </section>
        <section>
            <h1>NUESTROS KITS</h1>
            <article>
                <figure>
                    <img src="" alt="">
                </figure>
                <h3></h3>
                <p></p>
                <p></p>
            </article>
            <article>
                <figure>
                    <img src="" alt="">
                </figure>
                <h3></h3>
                <p></p>
                <p></p>
            </article>
            <article>
                <figure>
                    <img src="" alt="">
                </figure>
                <h3></h3>
                <p></p>
                <p></p>
            </article>
        </section>
    </main>
    <!-- --------------------------------------------- -->
    <footer>
        <section></section>
        <section></section>
        <section></section>
        <section>
            <section></section>
            <section></section>
        </section>
    </footer>
</body>
</html>