<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main-register.css">
</head>
<body>
    <header>
        <section id="main-menu">
            <a href="/">
                <figure>
                    <img src="/img/logo.png" alt="logo natuur">
                </figure>
            </a>
            <nav id="user-list">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="/register"><i class="fas fa-user"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </nav>
            <nav id="head-list">
                <ul>
                    <li>
                        <a href="#">NOSOTROS</a>
                    </li>
                    <li>
                        <a href="#">ALMACEN</a>
                    </li>
                    <li>
                        <a href="#">GOURMET</a>
                    </li>
                    <li>
                        <a href="#">COSMÉTICA</a>
                    </li>
                    <li>
                        <a href="#">CONTACTO</a>
                    </li>
                </ul>
            </nav>
            <nav id="hamburguer-menu">
                <a href="#"><i class="fas fa-bars"></i></a> 
             </nav>
        </section>
    </header>
    <main class="main-register">
        <form action="" method="GET">
            <p class="bienvenido">CREA TU CUENTA DE FORMA SANA Y SEGURA</p>
        <section class="form-left">
            <section class="nombre">
            <label for="nombre">
            <input type="text" placeholder="Nombre y apellido"name="nombre" id="nombre" required>
            </label>
            </section>
  
            <section class="usuario">
            <label for="Usuario">
            <input type="text" placeholder="Nombre de Usuario"name="usuario" id="usuario" required>
            </label>
            </section>

        </section>
        <section class="form-rigth">
            
            <section class="email">
                <label>
                <input type="email" placeholder="Email"name="email" id="email" required>
                </label>
            </section>

            <fieldset class="password">
                <label>
                  <input type="password" placeholder="Contraseña" name="password">
                </label>
            </fieldset>
            <fieldset class="confirm-password">
                <label>
                  <input type="password" placeholder="Repetir Contraseña" name="confirm-password">
                </label>
            </fieldset>
        </section>

        <section class="button-google">
            <label>
              <a href="#"><button type="button" name="google"><i class="fab fa-google"></i></a></button>
            </label>
          </section>
          <section class="button-enviar">
            <label>
              <button type="button" name="enviar">Enviar</button>
            </label>
          </section>
    </main>
    <footer>
        <section id="footer-first-section">
            <nav class="footer-item">
                <h3>¡Escribinos!<br>
                <a href="#">hola@natuur.com.ar</a></h3>
                <p><a href="#">Formá parte de nuestro equipo</a></p>
                <p><a href="#">Términos y Condiciones</a></p>
            </nav>
            <hr id="footer-linea">
            <section class="footer-item">
                <h3>Métodos de pago</h3>
                <section class="methods-p">
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-bitcoin"></i>
                </section>
            </section>
            <section class="footer-item">
                    <form>
                        <input type="email" id="email" name="email" placeholder="NEWSLETTER">
                        <button type="submit" action="/" method="POST">Enviar</button>
                    </form>
                    <nav class="social-media">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram-square"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                    </nav>
            </section>
        </section>
        <section id="footer-second-section">
            <p>Copyright © 2021 Natuur</p>
        </section>
        
    </footer>
</body>
</html>