<!DOCTYPE html>
<html>
    <%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header-index.ejs") %> 
    <main class="main-login">
        <p id="mensaje-bienvenida-login">INGRESA A TU CUENTA</p>
        <form action="/" method="GET">
            <input class="formulario-login" type="text" placeholder="Nombre de usuario"name="usuario" id="usuario" required>
            <input class="formulario-login" type="password" placeholder="Contraseña" name="password">
            <a href="/" class=" formulario-login olvide">Olvidé mi contraseña</a>
            <section class="button-login">
                <a href="#">
                    <button type="submit" name="google">
                        <i class="fab fa-google"></i>
                    </button>
                </a>
            </section>
            <section class="button-login">
                <button type="submit" name="enviar">Ingresá</button>
            </section>
            <section class="button-enviar-login">
                <a href="/users/registro"><button type="submit" name="enviar" id="enviar">Si no tenes cuenta, registrate</a></button>
            </section>
        </form>
    </main>
    <%- include ("../partials/footer.ejs") %> 
</body>
</html>