<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main-register.css">
</head>
<body>
    <%- include ("../partials/header-index.ejs") %> 
    <main class="main-register"> 
        <form action="/" method="GET">
            <p class="bienvenido">CREA TU CUENTA</p>
            <input class="formulario-register" type="text" placeholder="Nombre y apellido"name="nombre" id="nombre" required>
  
            <input class="formulario-register" type="text" placeholder="Nombre de Usuario"name="usuario" id="usuario" required>

            <input class="formulario-register" type="email" placeholder="Email"name="email" id="email" required>

            <input class="formulario-register" type="password" placeholder="Contraseña" name="password" required>

            <input class="formulario-register" type="password" placeholder="Repetir Contraseña" name="confirm-password" required>

        <section class="button-google">
            <button name="google" id="google">
                <i class="fab fa-google"></i>
            </button>
          </section>
          <section class="button-enviar">
                <button type="submit" name="enviar" id="enviar">Ingresar</button>
          </section>
    </main>
    <%- include ("../partials/footer.ejs") %> 
</body>
</html>